<div class="flex flex-col sm:flex-row justify-center items-center sm:space-y-0 space-y-4 sm:space-x-4">
    <a 
        href="mailto:ebolujo101@gmail.com?subject=Enquiry%20About%20Your%20Technical%20Services" 
        class="
            w-full sm:w-auto
            inline-block px-8 py-3 rounded 
            font-semibold text-base text-center
            bg-yellow-accent text-deep-blue border-none 
            transition duration-300
            hover:bg-[#e6b800] hover:no-underline
            "
        >
            <span>Send an Email</span>
    </a>
    <a 
        href="https://www.linkedin.com/in/bolujo-excellent/" 
        class="
            w-full sm:w-auto
            inline-block px-8 py-3 rounded 
            font-semibold text-base text-center
            bg-yellow-accent text-deep-blue border-none 
            transition duration-300
            hover:bg-[#e6b800] hover:no-underline
            "
        >
        <span>Connect on LinkedIn</span>
    </a>
</div>