<div id="js-lightbox-modal" class="lightbox" hidden>
    {/* Close button triggers a function */}
    <a href="#" id="js-lightbox-close" class="lightbox-close">&times;</a>
    
    {/* This image element will have its src and alt updated by the JavaScript */}
    <img id="js-lightbox-image" src="" alt="">
</div>